.button {
  border-radius: 60px;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #ececec;
  color: #0b081c;
}

.primary {
  background-color: rgba(236, 236, 236, 1);
  color: rgba(11, 8, 28, 1);
  border: 1px solid rgba(236, 236, 236, 1);
}

.secondary {
  background-color: transparent;
  color: rgba(236, 236, 236, 1);
  border: 1px solid rgba(236, 236, 236, 1);
}

.outline {
  background-color: transparent;
  color: rgba(236, 236, 236, 1);
  border: 1px solid rgba(236, 236, 236, 1);
}

@media (max-width: 991px) {
  .button {
    padding: 8px 20px;
  }
}
